/* Colors */
@define-color bg #15110e;
@define-color fg #edd19a;
@define-color white #d7d0c2;
@define-color col #e3963e;
@define-color errcol #bf3f34;

* {
	border-radius: 0;
	padding: 0;
	margin: 0;
	font-family: "MonaspiceKr Nerd Font Propo";
	font-weight: bold;
	font-size: 13px;
	min-height: 14px;
}

window#waybar {
	background: transparent;
	color: @fg;
	margin: 2px;
}

#pulseaudio,
#cpu,
#memory,
#battery,
#tray,
#window,
#custom-mullvad,
#network,
#custom-xwayland,
#disk {
	background: @bg;
	padding: 0 3px 0 3px;
	margin: 4px;
	border: 3px solid @col;
}

#tags,
#custom-randomcjk {
	color: @fg;
	background: @bg;
	padding: 0;
	margin: 4px;
	border: 3px solid @col;
}

#tags button.occupied {
	color: @white;
}

#tags button.focused {
	color: @bg;
	background: @col;
}

#custom-binclock-vertical {
	font-family: "BigBlueTermPlus Nerd Font Mono";
	font-weight: normal;
	font-size: 12px;
	color: @white;
	background: @bg;
	padding: 3px 0 3px 0;
	margin: 4px;
	border: 3px solid @col;
}

#custom-binclock,
#clock,
#privacy-item {
	color: @white;
	background: @bg;
	padding: 0 3px 0 3px;
	margin: 4px;
	border: 3px solid @col;
}

#privacy-item {
	margin: 4px 1px 4px 1px;
}
*.warning {
	color: @col;
}

*.critical {
	color: @errcol;
}

#window{
	min-height: 22px;
}

#pulseaudio.muted, #pulseaudio.source-muted {
	background: @col;
	color: @bg;
	border: 3px solid @bg;
}

tooltip, tooltip * {
  color: @fg;
  background-color: @bg;
  text-shadow: none;
}
