:root {
      --font-family: "MonaspiceKr Nerd Font Mono" !important;
      --display-card-image: block !important; /* none | block */
      --display-coverart-image: block !important; /* none | block */
      --display-header-image: block !important; /* none | block */
      --display-sidebar-image: block !important; /* none | block */
      --display-tracklist-image: block !important; /* none | block */
      --display-spicetify-banner-ascii: block !important; /* none | block */
      --display-music-banner-ascii: block !important; /* none | block */
      
      --border-width: 4px !important;
}

* {
      border-radius: 0px !important;
}
